/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/scrnaseq -profile test_10XV2,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input        = 'https://github.com/nf-core/test-datasets/raw/scrnaseq/samplesheet-2-0.csv'

    // Genome references
    fasta        = 'https://raw.githubusercontent.com/singleron-RD/scrna_test_data/master/star_genome/mmu/mmu.ensembl.99.MT.fasta'
    gtf          = 'https://raw.githubusercontent.com/singleron-RD/scrna_test_data/master/star_genome/mmu/mmu.ensembl.99.MT.gtf'
    genome_name  = 'mmu.ensembl.99.MT'
    keep_attributes = 'gene_biotype=protein_coding,lncRNA,antisense'

    // protocol
    protocol     = 'new'
    pattern      = 'C16U10'
    whitelist    = '<(wget -qO - https://github.com/nf-core/scrnaseq/raw/2.5.1/assets/whitelist/10x_V2_barcode_whitelist.txt.gz | gzip -d -c)'
}
